/*

obsidian-org-timestamps relies on this CSS styling

*/

.org-timestamp {
	background: #ededed;
	border-radius: 2px;
	/* top and bottom 0px so we don't add extra height, left and right 2px */
	padding: 0px 2px;
	display: inline-block;
	margin: 0px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
	/* make the timestamp slightly smaller to compensate for its visual prominence */
	font-size: 0.86em;
	font-family: inherit;
	font-weight: 300;
}

.org-timestamp-time {
	background: #666;
	color: #fff;
	border-radius: 2px;
	padding: 0px 2px;
	margin: 0px;
	font-weight: 500;
	font-family: inherit;
}

.org-timestamp a {
	text-decoration: none !important;
	color: var(--text-normal) !important;
	font-weight: 300;
	transition: background 0.3s;
}

.org-timestamp a:hover {
	text-decoration: none !important;
	background: #e0e0e0;
	border-radius: 2px;
}
